CHPT/source/tags/v0.3.2/yuTongWebService/Web References/SURepairBill/obtainXsd.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://isg.yutong.com/repairBillSU/" targetNamespace="http://isg.yutong.com/repairBillSU/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://schemas.xmlsoap.org/soap/envelope/" namespace="http://schemas.xmlsoap.org/soap/envelope/" />
  <xs:element name="repairBillSU" type="tns:repairBillSU" />
  <xs:element name="repairBillSUResponse" type="tns:repairBillSUResponse" />
  <xs:complexType name="repairBillSU">
    <xs:sequence>
      <xs:element minOccurs="1" name="RequestUser" type="xs:string" />
      <xs:element minOccurs="1" name="RequestTime" type="xs:string" />
      <xs:element minOccurs="1" name="RequestType" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="repairBill" type="tns:repairBill" />
      <xs:element minOccurs="1" maxOccurs="1" name="clientInfo" type="tns:clientInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="repairBillSUResponse">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Result" type="tns:Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Result">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="state" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="errorMsg" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="repairBill">
    <xs:sequence>
      <xs:element name="maintain_no" type="xs:string" />
      <xs:element name="clearing_time" type="xs:string" />
      <xs:element name="cust_id" type="xs:string" />
      <xs:element name="cust_name" type="xs:string" />
      <xs:element name="linkman" type="xs:string" />
      <xs:element name="link_man_mobile" type="xs:string" />
      <xs:element name="vehicle_no" type="xs:string" />
      <xs:element name="vehicle_model" type="xs:string" />
      <xs:element name="vehicle_brand" type="xs:string" />
      <xs:element name="vehicle_vin" type="xs:string" />
      <xs:element name="engine_no" type="xs:string" />
      <xs:element name="driver_name" type="xs:string" />
      <xs:element name="driver_mobile" type="xs:string" />
      <xs:element name="travel_mileage" type="xs:string" />
      <xs:element name="maintain_type" type="xs:string" />
      <xs:element name="remark" type="xs:string" />
      <xs:element name="man_hour_sum_money" type="xs:string" />
      <xs:element name="man_hour_sum" type="xs:string" />
      <xs:element name="fitting_sum_money" type="xs:string" />
      <xs:element name="fitting_sum" type="xs:string" />
      <xs:element name="other_item_tax_cost" type="xs:string" />
      <xs:element name="other_item_sum" type="xs:string" />
      <xs:element name="privilege_cost" type="xs:string" />
      <xs:element name="should_sum" type="xs:string" />
      <xs:element name="received_sum" type="xs:string" />
      <xs:element name="cost_types" type="xs:string" />
      <xs:element name="sum_money" type="xs:string" />
      <xs:element name="other_remarks" type="xs:string" />
      <xs:element name="dispatch_time" type="xs:string" />
      <xs:element name="start_work_time" type="xs:string" />
      <xs:element name="shut_down_time" type="xs:string" />
      <xs:element name="complete_work_time" type="xs:string" />
      <xs:element name="RepairProjectDetails" type="tns:RepairProjectDetails" />
      <xs:element name="RepairmaterialDetails" type="tns:RepairmaterialDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RepairProjectDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RepairProjectDetail" nillable="true" type="tns:RepairProjectDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RepairProjectDetail">
    <xs:sequence>
      <xs:element name="item_no" type="xs:string" />
      <xs:element name="item_type" type="xs:string" />
      <xs:element name="item_name" type="xs:string" />
      <xs:element name="man_hour_type" type="xs:string" />
      <xs:element name="man_hour_quantity" type="xs:string" />
      <xs:element name="man_hour_norm_unitprice" type="xs:string" />
      <xs:element name="sum_money_goods" type="xs:string" />
      <xs:element name="three_warranty" type="xs:string" />
      <xs:element name="item_remarks" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RepairmaterialDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RepairmaterialDetail" nillable="true" type="tns:RepairmaterialDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RepairmaterialDetail">
    <xs:sequence>
      <xs:element name="car_parts_code" type="xs:string" />
      <xs:element name="parts_name" type="xs:string" />
      <xs:element name="norms" type="xs:string" />
      <xs:element name="unit" type="xs:string" />
      <xs:element name="quantity" type="xs:string" />
      <xs:element name="unit_price" type="xs:string" />
      <xs:element name="sum_money" type="xs:string" />
      <xs:element name="vehicle_brand" type="xs:string" />
      <xs:element name="three_warranty" type="xs:string" />
      <xs:element name="parts_remarks" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="clientInfo">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="clientID" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="serviceID" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>