CHPT/source/tags/v0.3.3/yuTongWebService/Web References/QueryCustomer/obtainXsd.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://isg.yutong.com/customer/" targetNamespace="http://isg.yutong.com/customer/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://schemas.xmlsoap.org/soap/envelope/" namespace="http://schemas.xmlsoap.org/soap/envelope/" />
  <xs:element name="customerQuery" type="tns:customerQuery" />
  <xs:element name="customerQueryResponse" type="tns:customerQueryResponse" />
  <xs:complexType name="customerQuery">
    <xs:sequence>
      <xs:element minOccurs="1" name="RequestUser" type="xs:string" />
      <xs:element minOccurs="1" name="RequestTime" type="xs:string" />
      <xs:element minOccurs="1" name="RequestType" type="xs:string" />
      <xs:element minOccurs="1" name="province" type="xs:string" />
      <xs:element minOccurs="1" name="update_time" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="clientInfo" type="tns:clientInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="customerQueryResponse">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Result" type="tns:Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Result">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="state" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="errorMsg" type="xs:string" />
      <xs:element minOccurs="0" name="Details" type="tns:Details" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Details">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Detail" nillable="true" type="tns:customer" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="customer">
    <xs:sequence>
      <xs:element minOccurs="0" name="cust_crm_guid" type="xs:string" />
      <xs:element minOccurs="0" name="cust_name" type="xs:string" />
      <xs:element minOccurs="0" name="cust_code" type="xs:string" />
      <xs:element minOccurs="0" name="province" type="xs:string" />
      <xs:element minOccurs="0" name="city" type="xs:string" />
      <xs:element minOccurs="0" name="county" type="xs:string" />
      <xs:element minOccurs="0" name="cust_address" type="xs:string" />
      <xs:element minOccurs="0" name="cust_relation" type="xs:string" />
      <xs:element minOccurs="0" name="zip_code" type="xs:string" />
      <xs:element minOccurs="0" name="cust_phone" type="xs:string" />
      <xs:element minOccurs="0" name="cust_fax" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element minOccurs="0" name="cust_website" type="xs:string" />
      <xs:element minOccurs="0" name="indepen_legalperson" type="xs:string" />
      <xs:element minOccurs="0" name="market_segment" type="xs:string" />
      <xs:element minOccurs="0" name="institution_code" type="xs:string" />
      <xs:element minOccurs="0" name="ent_qualification" type="xs:string" />
      <xs:element minOccurs="0" name="com_constitution" type="xs:string" />
      <xs:element minOccurs="0" name="registered_capital" type="xs:string" />
      <xs:element minOccurs="0" name="business_scope" type="xs:string" />
      <xs:element minOccurs="0" name="credit_rating" type="xs:string" />
      <xs:element minOccurs="0" name="status" type="xs:string" />
      <xs:element minOccurs="0" name="agency" type="xs:string" />
      <xs:element minOccurs="0" name="sap_code" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="clientInfo">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="clientID" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="serviceID" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>