CHPT/source/trunk/client_app/yuTongWebService/Web References/QueryOrderStatus/obtainXsd.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://isg.yutong.com/serviceOrderStatus/" targetNamespace="http://isg.yutong.com/serviceOrderStatus/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://schemas.xmlsoap.org/soap/envelope/" namespace="http://schemas.xmlsoap.org/soap/envelope/" />
  <xs:element name="serviceOrderStatusQuery" type="tns:serviceOrderStatusQuery" />
  <xs:element name="serviceOrderStatusQueryResponse" type="tns:serviceOrderStatusQueryResponse" />
  <xs:complexType name="serviceOrderStatusQuery">
    <xs:sequence>
      <xs:element minOccurs="1" name="RequestUser" type="xs:string" />
      <xs:element minOccurs="1" name="RequestTime" type="xs:string" />
      <xs:element minOccurs="1" name="RequestType" type="xs:string" />
      <xs:element minOccurs="1" name="crm_service_bill_num" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="clientInfo" type="tns:clientInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="serviceOrderStatusQueryResponse">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Result" type="tns:Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Result">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="state" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="errorMsg" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="crm_service_bill_num" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="service_no_yt" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="service_status" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="review_status_name" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="review_name" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="review_date" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="review_suggestion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="clientInfo">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="clientID" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="serviceID" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>