CHPT/source/tags/V0.4.4.1/client_app/yuTongWebService/Web References/QueryBus/obtainXsd.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://isg.yutong.com/BusQuery/" targetNamespace="http://isg.yutong.com/BusQuery/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://schemas.xmlsoap.org/soap/envelope/" namespace="http://schemas.xmlsoap.org/soap/envelope/" />
  <xs:element name="busQuery" type="tns:busQuery" />
  <xs:element name="busQueryResponse" type="tns:busQueryResponse" />
  <xs:complexType name="busQuery">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="update_time" type="xs:string" />
      <xs:element minOccurs="1" name="RequestUser" type="xs:string" />
      <xs:element minOccurs="1" name="RequestTime" type="xs:string" />
      <xs:element minOccurs="1" name="RequestType" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="clientInfo" type="tns:clientInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="busQueryResponse">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Result" type="tns:Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Result">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="state" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="errorMsg" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="ReturnTime" type="xs:string" />
      <xs:element name="Details" type="tns:Details" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="clientInfo">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="clientID" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="serviceID" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Detail">
    <xs:sequence>
      <xs:element name="turner" type="xs:string" />
      <xs:element name="license_plate" type="xs:string" />
      <xs:element name="v_brand" type="xs:string" />
      <xs:element name="v_model" type="xs:string" />
      <xs:element name="vin" type="xs:string" />
      <xs:element name="engine_num" type="xs:string" />
      <xs:element name="carbuy_date" type="xs:string" />
      <xs:element name="customer_unit" type="xs:string" />
      <xs:element name="use_unit" type="xs:string" />
      <xs:element name="vehicle_use" type="xs:string" />
      <xs:element name="cont_name" type="xs:string" />
      <xs:element name="driver_name" type="xs:string" />
      <xs:element name="driver_phone" type="xs:string" />
      <xs:element name="cont_phone" type="xs:string" />
      <xs:element name="operating_line" type="xs:string" />
      <xs:element name="point_departure" type="xs:string" />
      <xs:element name="place_arrival" type="xs:string" />
      <xs:element name="warranty_period" type="xs:string" />
      <xs:element name="warranty_mileage" type="xs:string" />
      <xs:element name="status" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Details">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Detail" nillable="true" type="tns:Detail" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>