CHPT/source/tags/V0.4.1/client_app/yuTongWebService/Web References/QueryBusModel/obtainXsd.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://isg.yutong.com/busModel/" targetNamespace="http://isg.yutong.com/busModel/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://schemas.xmlsoap.org/soap/envelope/" namespace="http://schemas.xmlsoap.org/soap/envelope/" />
  <xs:element name="busModelQuery" type="tns:busModelQuery" />
  <xs:element name="busModelQueryResponse" type="tns:busModelQueryResponse" />
  <xs:complexType name="busModelQuery">
    <xs:sequence>
      <xs:element minOccurs="1" name="RequestUser" type="xs:string" />
      <xs:element minOccurs="1" name="RequestTime" type="xs:string" />
      <xs:element minOccurs="1" name="RequestType" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="clientInfo" type="tns:clientInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="busModelQueryResponse">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Result" type="tns:Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Result">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="state" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="errorMsg" type="xs:string" />
      <xs:element minOccurs="0" name="Details" type="tns:Details" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Details">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Detail" nillable="true" type="tns:busModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="busModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="0" name="remark" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="0" name="out_price" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="0" name="out_special_price" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="0" name="vm_code" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="0" name="vm_type" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="0" name="v_sale_type" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="0" name="report_price" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="0" name="repair_price" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="0" name="begin_date" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="0" name="end_date" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="0" name="status" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="clientInfo">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="clientID" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="serviceID" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>